

<div class="row">
    <div class="col" align="center"></div>
    <div class="col cat-div coin" align="center">
        <br>
        <img class="coin" src="{{firstCatImage.url}}" width="250" height="250">
        <br><br>
        <button type="button" class="btn btn-success">My Favorite</button>
        <br><br>
    </div>
    <div class="col cat-div coin" align="center">
        <br>
        <img class="coin" src="{{secondCatImage.url}}" width="250" height="250">
        <br><br>
        <button type="button" class="btn btn-success">My Favorite</button>
        <br><br>
    </div>
    <div class="col" align="center"></div>
</div>